{% extends "base.html" %}
{% load static %}

{% block title %}
  Add Project
{% endblock %}


{% block subtitlerow1 %}
  <h5>Projects</h5>
{% endblock %}
{% block subtitlerow2 %}

{% endblock %}

{% block content %}
<div id="cover-spin"></div>
<!-- Project Cards -->

<!-- Task Cards -->
<div class="container-fluid">
    <div class="card-columns mt-2"  id="projectList">
    
      <!-- Columns and Cards goes here-->
      {% for project in projects %}
        <div class="list-item card" id="{{project.id}}">
            <!--DropDown -->
            <div class="dropdown" data-id = "{{project.id}}">
                <button class="btn float-right btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v text-warning"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" data-toggle="modal" data-target="#" class="deleteButtonTask dropdown-item btn-sm">Delete</button>
                </div>
            <!--/DropDown -->
                <a href="manage-project/{{project.title}}?project_Id={{project.id}}">
                    <div class="card-body"  data-id="{{project.id}}">
                        <h6 class="card-title" id="{{project.id}}-taskTitle">{{project.title}}</h6>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--/ Task Cards -->

{% endblock content %}

{% block javaScriptBlock %}
  <!--<script src="{% static '' %}"></script>-->
{% endblock %}