{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
	
</style>
{% endblock %}

{% block title %}
  Add Project
{% endblock %}


{% block subtitlerow1 %}
  
{% endblock %}
{% block subtitlerow2 %}
<div class="container-fluid">
  <div class="form-row" id="project_selection"></div>
</div>
{% endblock %}

{% block content %}


<div id="cover-spin"></div>
<div class="container-fluid">

  <!-- Bar Charts -->
  <div class="row d-flex justify-content-around">
    <!-- User Charts -->
      <div class="col-md-5 border border-dark rounded mt-2">
          <canvas id="SwpVsUser" width="200" height="150"></canvas>
      </div>

    <!-- Status Charts -->
      <div class="col-md-5 border border-dark rounded mt-2">
        <canvas id="SwpVsStatus" width="200" height="150"></canvas>
    </div>
  </div>
  <!-- Bar Charts end -->

  <!-- Planned Date Area Chart -->
  <div class="row mt-2">
    <div class="col-md-12 border border-dark rounded">
      <div class="row d-flex justify-content-end mr-2">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span class="sr-only">Filters</span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" onclick="startVsEndPlannedDateChart_date()">Daily Progress</button>
            <button class="dropdown-item" type="button" onclick="startVsEndPlannedDateChart()">Weekly Progress</button>
          </div>
        </div>
      </div>

      <div class="row">
        <canvas id="StartDateByKW" width="200" height="500"></canvas>
      </div>
    </div>
  </div>
  <!-- Planned Date Area Chart end -->


  <!-- Actual Date Area Chart -->
  <div class="row mt-2">
    <div class="col-md-12 border border-dark rounded">
      <div class="row d-flex justify-content-end mr-2">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span class="sr-only">Filters</span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" onclick="startVsEndActualDateChart_date()">Daily Progress</button>
            <button class="dropdown-item" type="button" onclick="startVsEndActualDateChart()">Weekly Progress</button>
          </div>
        </div>
      </div>

      <div class="row">
        <canvas id="ActualStartDateByKW" width="200" height="500"></canvas>
      </div>
    </div>
  </div>
  <!-- Planned Date Area Chart end-->

  <!-- States Area Chart -->
  <div class="row mt-2">
    <div class="col-md-12 border border-dark rounded">
      <canvas id="WeekByStatus" width="200" height="662"></canvas>
    </div>
  </div>
  <!-- States Area Chart end -->

</div>




{% endblock content %}

{% block javaScriptBlock %}
  <!--<script src="{% static 'js/.js' %}"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="{% static 'js/manager/manager_view.js' %}"></script>
  <script src="{% static 'js/manager/manager_chart_updating.js' %}"></script>
  <script src="{% static 'js/manager/manager_date_chart.js' %}"></script>
{% endblock %}