#message_container {

    /* to position it at bottom-left (dependent on the parent) */
    position: absolute;
    bottom: 2em;
    left: 2em;
    z-index: 99;
    position: fixed;
  
    /* to position the contents within the box (ie the message text) */
    display: flex;
    color:white;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    
    /* to style the message box in particular ways */
    padding: 1em;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 400px;
  }
  
  @media (max-width: 320px) {
    
    #message_container {
      padding: 0.5em;
      padding-top: 1em;
      padding-bottom: 1em;
      left: 50%;
      transform: translate(-50%,0);
    }
    
      #message_content {
          font-size: 0.9em;
      }
  }